/*FONT TYPE */
@font-face{
    src: url(fonts/CursedTimerUlil-Aznm.ttf);
    font-family: CustomFont;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: white;
    background-color: #9CA3AF;
    text-align: center;
}

.container {
    margin : auto;
    width: 575px;
    height: 385px;
    display: flex;
    justify-content: space-around;
    background-color: #1B244A;
}

.result{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h3{
    color: #EEEEEE;
}
.result-rednumber{
    display: block;
    width: 155px;
    padding: 20px 0px;
    text-align: center;
    margin: 30px auto;
    background-color: black;
    border-radius: 5px;
    font-family: CustomFont, Verdana, Arial;
    font-size: 90px;
    color: #F94F6D;
}

.btn-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn{
    display: inline-block;
    height: 45px;
    width: 45px;
    color: #9AABD8;
    background-color: #1B244A;
    font-family: CustomFont, Verdana, Arial;
    font-size: 18px;
    border-radius: 5px;
    border: 2px solid #9AABD8;
}